EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAu0oK0dDjYzIG9vE1Md6tPrGTDurYq0Wk
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=localpill-upcharmitra.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=localpill-upcharmitra
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=localpill-upcharmitra.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=481146336183
EXPO_PUBLIC_FIREBASE_APP_ID=1:481146336183:web:00cd2cb2511ac58569ee32
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-4DKWT1CMK9
